.about--body{
    text-align: center;
    display: flex;  
    background-image: url("../images/background.jpg");
    font-family: 'Playfair Display','Merriweather','Inter','Open Sans', 'sans-serif';
    height: 84vh;
    align-items: center;
    justify-content: center;
    color: var(--text-primary);
}

.about--logo {
    border-radius: 100px;
    width: 475px;
    height: 491px;
    margin-left: 100px;
    pointer-events: none;
  }

.about--text{
    font-size: 20px;
    text-align:justify;
    opacity: 0.9;
    margin-bottom: 1em;
}

.about--text-title{
    text-align: left;
    opacity: 1;
    text-decoration: underline;
    margin-bottom: 0.5em;
}

.about--title{
    opacity: 1;
    margin-bottom: 0.75em;
    font-size: calc(14px + 2vmin);
}