.card--main{

    min-width: 52%; 
    max-width: 61%;
    min-height: 50%;
    max-height: 70%;
    display: grid;
    border-radius: 20px;
    padding: 2%;
    margin-left: 6vw;    
    margin-top: 1vh;
    background-color: rgba(94, 131, 201, .7);

}
.card--header{
    border-bottom: 4px solid rgba(94, 131, 201, .7);
    padding-bottom: 5%;
    font-size: 1.75vw;
}

.card--title{
    font-weight: bold;
    font-size: 1.5vw;
    border-top: 4px solid rgba(94, 131, 201, .7);
    padding-top: 5%;
    margin-top: 10px;
}

.card--text{
    max-height: 7.5em;
    text-align: left;
    font-size: 1vw;
    overflow-y: auto;
}

.card--image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.card--button{
    width: 95%;
    height: auto;
    padding: 0.5em 0em 0.5em 0em;
    border-radius: 10px;
    font-size: 1vw;
    background-color: var(--accent-primary);
    color: var(--text-primary);
}

