.card--main{
    width: 20rem;
    display: flex;
    flex-direction: column;
    height: 35rem;
    border-radius: 20px;
    padding: 1em;
    margin-left: 6vw;    
    margin-top: 1vh;
    background-color: rgba(94, 131, 201, .7);

}
.card--header{
    border-bottom: 4px solid rgba(94, 131, 201, .7);
    padding-bottom: 10px;
    margin-left: -1rem;  
    margin-right: -1rem;  
    margin-bottom: 10px;
}

.card--title{
    font-weight: bold;
    font-size: 1.5em;
    border-top: 4px solid rgba(94, 131, 201, .7);
    padding-top: 10px;
    margin-left: -1rem;  
    margin-right: -1rem;  
    margin-top: 10px;
}

.card--text{
    text-align: center;
    font-size: 1em;
    overflow-y: auto;
}

.card--image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 40%;
}

.card--button{
    width: 95%;
    height: 110%;
    border-radius: 10px;
    background-color: var(--accent-primary);
    color: var(--text-primary);
}

.test{
    justify-content: flex-end;
}



