/* color palette
    Dark blue: #222a33
    Lighter Dark blue: #313c4e
    Burnt Orange (accent colour): #a85c24
    White: #ffffff
*/

.footer--main{
    background-color: #222a33;
    color: white;
    width: parent;
    height: 85px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Playfair Display','Merriweather','Inter','Open Sans', 'sans-serif';
    font-size: 20px;
    font-weight: 500;
}

.footer-text{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-text > small{
    margin-right: 50px;
}

.textLink{
    color:white;
  }