
/* color palette
    Dark blue: #222a33
    Lighter Dark blue: #313c4e
    Burnt Orange (accent colour): #a85c24
    White: #ffffff
*/

.header--head{
    background-color: #222a33;
    width: 100%;
    height: 8vh;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Playfair Display','Merriweather','Inter','Open Sans', 'sans-serif';
    font-size: 20px;
    font-weight: 500;
}

.header--menu{
    color: white;
    margin-top: 12px;
}

.header--listitems{
    list-style-type: none;
    display: flex;
}

.header--listitems > li{
    padding-right: 50px;
}

.header--listitems >li:hover{
    color: #a85c34;
}
.header--button{
    background-color: white;
    font-family: 'Playfair Display','Merriweather','Inter','Open Sans', 'sans-serif';
    font-size: 18px;
    font-weight: 700;
    width: 150px;
    height: 40px;
    border: 2px;
    border-radius: 25px;
}

.menu--link{
    text-decoration: none;
    color: white;
}
.menu--button-link{
    text-decoration: none;
    color: #222a33;
}
.menu--button-link:hover{
    color: #a85c34;
}
.menu--link:hover{
    color: #a85c34;
}

/* TODO Consider making font bigger*/
/* TODO Remember to remove the 'listItems:hover. They are all going to be links eventually. */

