/* color palette
    Dark blue: #222a33
    Lighter Dark blue: #313c4e
    Burnt Orange (accent colour): #a85c24
    ??? (brighter accent colour):
    White: #ffffff
*/

.home {
  text-align: center;
  display: flex;  
  height: 82%;
  background-image: url("../images/background.jpg");
  align-items: center;
  justify-content: center;
  font-family: 'Playfair Display','Merriweather','Inter','Open Sans', 'sans-serif';
}

.logo {
  border-radius: 15px ;
  width: 500px;
  height: 600px;
  margin-left: 100px;
}

.home--body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--text-primary);
}

.home--download-button{
  color: var(--accent-primary);    
  background-color:var(--text-primary);
  font-family: 'Playfair Display','Merriweather','Inter','Open Sans', 'sans-serif';
  font-size: 16px;
  font-weight: 700;
  width: 150px;
  height: 40px;
  border: 2px;
  border-radius: 25px;
  margin-top: 40px;
}

.home--download-button:hover{
  color: var(--accent-primary-darker); 
  border-radius:190px;
  font-weight: 800;
}

.text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--text-primary); 
}

.text > h1{
  margin: 0px;  
  font-size: 60px;
}

.text > h2{
  margin-top: 0px;
  font-size: 35px;
}

.text > h3{
  margin-bottom: 0px;
  color: var(--text-secondary); 
  font-size: 30px;
}

.text > p{
  margin-top: 0px;
  font-size: 20px;
  text-align: start;
}

.devText{
  color: var(--text-secondary); 
}

.textLink{
  color: var(--text-primary); 
}

.icon--linkedin, .icon--github{
  width: 50px;
  height: 50px;
  margin-right: 20px;
  margin-top: 30px;
}
.icon--linkedin:hover{
  box-shadow: 0px 0px 12px var(--accent-secondary);
  border-radius:190px;
}
.icon--github:hover{
   box-shadow: 0px 0px 12px var(--accent-secondary);
   border-radius:190px;
}

