/* color palette
    Dark blue: #222a33
    Lighter Dark blue: #313c4e
    Burnt Orange (accent colour): #a85c24
    White: #ffffff
*/

.Home {
  text-align: center;
  display: flex;  
  background-image: url("../images/background.jpg");
  align-items: center;
  justify-content: center;
  font-family: 'Playfair Display','Merriweather','Inter','Open Sans' sans-serif;
  color: green;
}

.Home-logo {
  border-radius: 5px;
  width: 500px;
  height: 600px;
  padding-left: 100px;
  pointer-events: none;
}

.Home-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
}

.Text > h1{
  margin: 0px;  
  font-size: 60px;
}

.Text > h2{
  margin-top: 0px;
  font-size: 35px;
}

.Text > h3{
  margin-bottom: 0px;
  color: #a85c24;
  font-size: 30px;
}

.Text > p{
  margin-top: 0px;
  font-size: 20px;
  text-align:start;
}

.DevText{
  color: #a85c24;
}


