/* color palette
    Dark blue: #222a33
    Lighter Dark blue: #313c4e
    Burnt Orange (accent colour): #a85c24
    ??? (brighter accent colour):
    White: #ffffff
*/

.home {
  text-align: center;
  display: flex;  
  background-image: url("../images/background.jpg");
  align-items: center;
  justify-content: center;
  font-family: 'Playfair Display','Merriweather','Inter','Open Sans', 'sans-serif';
}

.home--logo {
  border-radius: 5px;
  width: 500px;
  height: 600px;
  padding-left: 100px;
  pointer-events: none;
}

.home--header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.home--button{
  color: white;
  background-color: #a85c24;
  font-family: 'Playfair Display','Merriweather','Inter','Open Sans', 'sans-serif';
  font-size: 16px;
  font-weight: 700;
  width: 150px;
  height: 40px;
  border: 2px;
  border-radius: 25px;
  margin-top: 40px;
}

.text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
}

.text > h1{
  margin: 0px;  
  font-size: 60px;
}

.text > h2{
  margin-top: 0px;
  font-size: 35px;
}

.text > h3{
  margin-bottom: 0px;
  color: #a85c24;
  font-size: 30px;
}

.text > p{
  margin-top: 0px;
  font-size: 20px;
  text-align:start;
}

.devText{
  color: #a85c24;
}

.textLink{
  color:white;
}

.icon--linkedin, .icon--github{
  width: 50px;
  height: 50px;
  margin-right: 20px;
  margin-top: 30px;
}


