.portfolio--body {
    text-align: center;
    background-image: url("../images/background.jpg");
    justify-content: center;
    font-family: 'Playfair Display','Merriweather','Inter','Open Sans', 'sans-serif';
    height: 84vh;
    color:var(--text-primary);
    overflow-x: hidden;
    overflow-y: auto;
  }

  .portfolio--body > h1{
    margin-top: 1em;
  }

  .portfolio--body > p{
    font-size: 20px;
    margin-bottom: 1.5em;
  }

  .portfolio--carousel-formatting{
    align-content: center;
    justify-content: space-between;
    margin: 2em;
  }
.slides{
  
  .slick-prev {
    left: 3% !important;
    z-index: 1; 
  }
  .slick-next {
    right: 3% !important;
    z-index: 1;
  }
}

.portfolio-toggle{
  margin: 1em;
  margin-top: 0em;
  font-size: 20px;
}
  