.portfolio--body {
    text-align: center;
    justify-content: center;
    max-height: 100vh;
    max-width: 100vw;
    color:var(--text-primary);
    overflow: hidden;
  }

.portfolio--body > p{
  margin-bottom: 1em;
}

.portfolio--carousel-formatting{
  display: inline;
  align-content: center;
  justify-content: space-between;
  margin: 2em;
}

.slider--set{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.slides{
  
  .slick-prev {
    left: 3% !important;
    z-index: 1; 
  }
  .slick-next {
    right: 3% !important;
    z-index: 1;
  }
  margin: auto;
  width: 100%;
}

.portfolio-toggle{
  margin: 1em;
  margin-top: 0em;
  font-size: 2vw;
}

.toggle--main{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}
  