.skills--body {
    text-align: center;
    background-image: url("../images/background.jpg");
    justify-content: center;
    font-family: 'Playfair Display','Merriweather','Inter','Open Sans', 'sans-serif';
    min-height: 84vh;
    max-height: 100%;
    color:white;
    overflow-x: hidden;
    overflow-y: auto;
  }
