.skills--body{
    text-align: center;
    background-image: url("../images/background.jpg");
    justify-content: center;
    font-family: 'Playfair Display','Merriweather','Inter','Open Sans', 'sans-serif';
    height: 82%;
    color:var(--text-primary);
    overflow-x: hidden;
    overflow-y: auto;
  }

.skills--body > h1 {
    margin-top: 1em;
  }

.skills--bars{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skills--bar-styling{
    display:flex;
    margin-top: 4.8em;
}

.skills--text-styling{
    margin-top: 3.5em;
    text-align: left;
    padding-left: 1em;
    padding-right: 3em;
    font-size: 22px;
}

.skills--text-styling-xp{
    margin-top: 2em;
    text-align: left;
    padding-left: 1em;
    padding-right: 3em;
    font-size: 22px;

}
.skills--containers{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 4em;
}

.labelStyles{
  padding: 5px;
  margin-left: 10em;
  color: var(--text-primary);
  font-weight: bold;
}

.containerStyles{
  height: 1.25em;
  width: 25em;
  background-color:var(--text-primary);
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 5px;
  display:flex;
}

@keyframes slideInFromLeft {
  from {
    width:0;
    opacity: 0;
    overflow: hidden;
  }

}

.fillerStyles{
  height: 1.25em;
  border-radius: inherit;
  animation: 1s ease-out 0s 1 slideInFromLeft;
  animation-fill-mode: both;
  overflow: hidden;
}

